{% extends 'main/base.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Inception
            <small>MySQL</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.dashboard') }}"><i class="fa fa-home"></i> Home</a></li>
            <li class="active"> Work Dealt</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">Work Dealt Table</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                        <table id="example1" class="table table-bordered table-hover" style="width: 100%">
                            <thead>
                            <tr>
                                <th>WorkName</th>
                                <th>DB</th>
                                <th>Dev</th>
                                <th>Backup</th>
                                <th>CreateTime</th>
                                <th>FinishTime</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for work in works %}
                                <tr>
                                    <td>{{ work.name }}</td>
                                    <td>{{ work.db_name }}</td>
                                    <td>{{ work.dev_name }}</td>
                                    <td>
                                        {% if work.backup == true %}
                                        True
                                        {% else %}
                                        False
                                         {% endif %}
                                    </td>
                                    <td>
                                        {{ work.create_time }}
                                    </td>
                                    <td>
                                        {% if work.finish_time %}
                                        {{ work.finish_time }}
                                        {% else %}
                                        Unfinished
                                         {% endif %}
                                    </td>
                                    <td>
                                        {% if work.status == 0 %}
                                            Success
                                        {% elif work.status == 1 %}
                                            Pending
                                        {% elif work.status == 2 %}
                                            Check Failed
                                        {% elif work.status == 3 %}
                                            Executing
                                        {% elif work.status == 4 %}
                                            Error
                                        {% elif work.status == 5 %}
                                            Dev Cancelled
                                        {% elif work.status == 6 %}
                                            Audit Cancelled
                                        {% elif work.status == 7 %}
                                            Audit Rejected
                                        {% elif work.status == 8 %}
                                            Timing
                                        {% endif %}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-block btn-sm bg-blue btn-flat"
                                                onclick="location.href='{{ url_for('audit.audit_work_detail', id=work.id) }}'">
                                            View
                                        </button>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
    <!-- /.content -->

{% endblock %}

{% block js %}
    <!-- DataTables -->
    <script src="{{ url_for('static',filename='vendor/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>
{% endblock %}

{% block custom %}
    <script>
        $(function () {
            $('#example1').DataTable({
                scrollX: true
            });
        })
    </script>
{% endblock %}