{% extends 'main/base.html' %}

{% block content %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Inception
            <small>MySQL</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('main.dashboard') }}"><i class="fa fa-home"></i> Home</a></li>
            <li><a href="{{ url_for('admin.user') }}"> Users</a></li>
            <li class="active">Alloc db</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Quick Alloc</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form role="form" method="post" action="{{ url_for('admin.user_alloc', id=user.id) }}">
                        {{ form.hidden_tag() }}
                        <div class="box-body">
                            <div class="form-group">
                                <label>DBs</label>
                                <select class="form-control select2" name="{{ form.db.data }}" style="width: 100%;">
                                    {% for dbconfig in all_dbconfigs %}
                                        <option value="{{ dbconfig.id }}">{{ dbconfig.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">{{ user.name }}'s DB resource</h3>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body no-padding">
                        <table class="table table-bordered">
                            <tr>cd
                                <td>1.</td>
                                <td>Update software</td>
                                <td>
                                    <button type="button" class="btn btn-danger btn-sm"
                                            onclick="{location.href='{{ url_for('admin.user_delete', id=user.id) }}'}">
                                        Delete
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
    <!-- /.content -->

{% endblock %}
